body {
  font-family: Arial, Sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color:lavender;
  color: black;
}

header {
  background: rgb(241 22 172);
  color: black;
  text-align: center;
  padding: 40 px 20 px;
}

nav {
    background-color: #2c3e50;
    padding: 1em;
    text-align: center;
}

nav a {
    color: #fff;
    margin: 0 1em;
    text-decoration: none;
    transition: color 0.2s ease;
}

nav a:hover {
    color: #3498db;
}

/*section*/
Section {
  padding: 40 px 20 px;
  max width: 900 px;
  margin: auto;
}

about {
  background: #fff;
  border-radius:  10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  margin-bottom: 20px
}

projects {
  background: #f1f1f1;
  border-radius: 10px;
}

project-card {
  background:white;
  padding: 20px;
  margin: 15px 0;
  border-radius: 8px;
  box-shadow: 0 1px 6px rgba(0,0,0,0.1);
}

project-card h2{
  margin-top: 0;
  color:purple;
}

contact a {
  color: tael;
  text-decoration: none;
}

contact a:hover {
  text-decoration: underline;
}

contact {
  background: #fff;
  border-radius: 10px;
  padding: 40px 20px;
  box-shadow: 0 2px 8px rgba (0,0,0,0.1);
}

contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 600px;
  margin: auto;
}
contact-form label{
  font-weight: bold;
  margin-bottom: 5px;
}

contact-form input, .contact-form textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1em;
  width:100%;
}

contact-form input:focus,.contact-form textarea:focus {
  border-color: teal;
  outline: none;
  box-shadow: 0 0 5px rgba(0,128,128,0.3);
}

contact-form .btn {
  width: 150px;
  align-self: center;
  background-color: rgb (241, 22, 172);
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}
contact-form .btn:hover {
  background-color: purple;
}

